body {
  text-align: center;
  font-family: sans-serif;
  margin-top: 2%;
}

input {
  font-size: 22px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#output {
  margin: 20px 0;
  font-size: 32px;
  font-weight: bold;
}

.error#output {
  color: red;
  font-size: 22px;
}